<div ng-controller="IndividualCtrl">
    <header class="row">
        <h3>
            <i class="fa fa-navicon"></i>
            Profile
            <a class="btn btn-primary btn-xs" href="#!/individuals">Back</a>
        </h3>
    </header>
    <section class="container-fluid row">
        <article class="col-md-12 col-lg-12 panel fade panel-default">
            <div class="panel-heading clearfix">
                Basic Info
                <button class="btn btn-success i btn-xs pull-right" ng-click="saveBasicInfo()">Save</button>
                <button class="btn btn-danger card-delete btn-xs pull-right" ng-click="deleteEntity()">Delete</button>
            </div>
            <div class="panel-body row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="title row">
                        <form>
                            <div class="form-group col-md-2 col-lg-2">
                                <label>Title</label>
                                <select class="form-control" ng-model="individual.Honorific">
                                    <option value="Ms.">Ms.</opt vion>
                                    <option value="Mr.">Mr.</option>
                                    <option value="Mx.">Mx.</option>
                                    <option value="Dr.">Dr.</option>
                                    <option value="Mrs.">Mrs.</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>First Name</label>
                                <input class="form-control" placeholder="First Name"
                                       ng-model="individual.First_Name"/></div>
                            <div class="form-group col-md-2 col-lg-2">
                                <label>Middle Initial</label>
                                <input class="form-control" placeholder="Middle Initial"
                                       ng-model="individual.Middle_Initial"/></div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>Last Name</label>
                                <input class="form-control" placeholder="Last Name"
                                       ng-model="individual.Last_Name"/></div>
                        </form>
                    </div>
                    <div class="row">
                        <address class="company col-md-6">
                            <form ng-repeat="address in addresses" class="row">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" ng-model="address.Address_1"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" ng-model="address.Address_2"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" ng-model="address.City"/>
                                </div>
                                <div class="form-group col-xs-6 col-md-6 col-lg-6 state">
                                    <select class="form-control" ng-model="address.State">
                                        <option ng-repeat="state in states" ng-value="state.abbreviation">
                                            {{state.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6 col-md-6 col-lg-6 zip">
                                    <input class="form-control" type="text" ng-model="address.Postal_Code"/>
                                </div>

                                <!--{{address.City}}, {{address.State}} {{address.Postal_Code}}-->
                            </form>
                            <button class="btn btn-default" ng-click="addAddress()">Add Address</button>

                        </address>
                        <div class="contact col-md-6">
                            <label>Phone</label>
                            <form class="form-inline company-info" ng-repeat="phone in phones">
                                <div class="form-group">
                                    <input class="form-control" type="text" ng-model="phone.Number"/>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" placeholder="Select Phone Type"
                                            ng-model="phone.Phone_Type">
                                        <option ng-value="types.Phone_Type" ng-repeat="types in phoneTypes">
                                            {{types.Phone_Type}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="phone.Is_Primary" ng-true-value="1"
                                               ng-false-value="0"/> Primary
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="close" aria-label="Close" ng-click="deletePhone($index)"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </form>
                            <button class="btn btn-default" ng-click="addPhone()">Add Phone</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="email" ng-model="individual.Email"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <label>Demographic</label>
                            <ui-select multiple ng-model="demographics" on-select="addDemographic($item)"
                                       on-remove="deleteDemographic($item)" search-enabled="false"
                                       close-on-select="true"
                                       theme="bootstrap">
                                <ui-select-match placeholder="Select demographic information">
                                    {{ $item.Demographic_Type }}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in (demographicTypes | filter: $select.search) track by $index">
                                    <span ng-bind="item.Demographic_Type"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-12 col-lg-12 panel fade panel-default">
            <div class="panel-heading">
                Company Info
                <button class="btn btn-success btn-xs">Save</button>
            </div>
            <div class="panel-body">
                <div ng-repeat="employee in employeeInfo" class="media">
                    <div class="media-left">
                        <a ng-href="#!/companies/{{employee.Company_ID}}">
                            <img class="media-object" src="https://placehold.it/64x64">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{employee.Company_Name}}</h4>
                        {{employee.Role}}
                    </div>
                </div>
                <div class="media">
                    <form class="form">
                        <div class="form-group col-md-3 col-lg-3">
                            <label>Company</label>
                            <select class="form-control" ng-model="employment.Company_ID">
                                <option ng-repeat="company in companyValues" ng-value="company.Company_ID">
                                    {{company.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 col-lg-3">
                            <label>Role</label>
                            <input class="form-control" ng-model="employment.Role"/>
                        </div>
                        <div class="form-group col-md-3 col-lg-3">
                            <label>Title</label>
                            <input class="form-control" ng-model="employment.Title"/>
                        </div>
                        <div class="form-group col-md-3 col-lg-3 add-company-individual">
                            <button class="btn btn-default" ng-click="addCompany()">Add Company</button>
                        </div>
                    </form>

                </div>
            </div>
        </article>
    </section>
    <toaster-container></toaster-container>
</div>