<header class="row text-center">
    <div align="left">
        <h3>
            <i class="fa fa-navicon"></i>
            New Company Info
            <a class="btn btn-primary btn-xs" href="#!/companies">Back</a>
        </h3>
    </div>
</header>
<section id="company-workspace" class="container-fluid row" ng-controller="CompanyCtrl">
    <article class="col-xs-12 panel panel-default">
        <div class="panel-heading clearfix">
            Basic Info
            <button class="btn btn-success i btn-xs pull-right" ng-click="saveBasicCompanyInfo()">Save</button>
            <button class="btn btn-danger card-delete btn-xs pull-right" ng-click="deleteEntity()">Delete</button>
        </div>
        <div class="panel-body row">
            <form>
                <div class="col-md-2">
                    <a href="" class="thumbnail">
                        <img ng-show="!company.Image" src="https://placehold.it/171x180"/>
                        <img ng-show="company.Image" ng-src="{{company.Image}}"/>
                    </a>
                    <div class="form-group-xs">
                        <input class="form-control" ng-model="company.Image" placeholder="Logo URL"/>
                    </div>

                </div>
                <div class="col-md-10">
                    <div class="form-group col-md-12">
                        <label>Company Name</label>
                        <input class="form-control" placeholder="Company Name"
                               ng-model="company.Name"/></div>
                    <div class="form-group col-md-6">
                        <label>Street 1</label>
                        <input class="form-control" placeholder="Address 1"
                               ng-model="address.Address_1"/></div>
                    <div class="form-group col-md-6">
                        <label>Street 2</label>
                        <input class="form-control" placeholder="Street 2"
                               ng-model="address.Address_2"/></div>
                    <div class="form-group col-md-3">
                        <label>City</label>
                        <input class="form-control" placeholder="City"
                               ng-model="address.City"/></div>
                    <div class="form-group col-md-3 state">
                        <label>State</label>
                        <select class="form-control" ng-model="address.State">
                            <option ng-repeat="state in states" ng-value="state.abbreviation">{{state.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Country</label>
                        <input class="form-control" placeholder="Country" ng-model="address.Country"/></div>
                    <div class="form-group col-md-3">
                        <label>Postal-Code</label>
                        <input class="form-control" placeholder="Postal-Code"
                               ng-model="address.Postal_Code"/></div>
                </div>

            </form>
        </div>
    </article>
    <article class="col-xs-12 panel panel-default">
        <div class="panel-heading clearfix">Additional Company Info
            <button class="btn btn-success btn-xs pull-right" ng-click="addAdditionalCompanyInfo()">Save</button>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group col-md-4">
                    <label>Legal Entity: </label>
                    <input class="form-control" placeholder="Legal Entity"
                           ng-model="company.Legal_Entity"/></div>
                <div class="form-group col-md-4">
                    <label>Website </label>
                    <input class="form-control" placeholder="Website"
                           ng-model="company.Website_URL"/></div>
                <div class="form-group col-md-2">
                    <label>Date Formed: </label>
                    <input class="form-control" type="date"
                           ng-model="company.Date_Formed" value="2011-01-01"/></div>
                <div class="form-group col-md-2">
                    <label>NAICS Code: </label>
                    <input class="form-control" placeholder="NAICS Code"
                           ng-model="company.NAICS_Code"/></div>
                <div class="form-group col-md-4">
                    <label>Member Type: </label>
                    <input class="form-control" placeholder="Member Type"
                           ng-model="company.Member_Type"/></div>
                <div class="form-group col-md-4">
                    <label>Graduation Date: </label>
                    <input class="form-control" type="date"
                           ng-model="company.Graduate_Date" value="2011-01-01"/></div>
                <div class="form-group col-md-4">
                    <label>Membership Date: </label>
                    <input class="form-control" type="date"
                           ng-model="company.Membership_Date" value="2011-01-01"/></div>
                <div class="form-group col-md-12">
                    <label>Description: </label>
                    <textarea class="form-control" placeholder="Description"
                              ng-model="company.Description"></textarea></div>
            </form>
        </div>
    </article>
    <article class="col-xs-12 panel panel-default">
        <div class="panel-heading clearfix">
            Designation Info
            <button class="btn btn-success btn-xs pull-right" ng-click="addDesignationInfo()">Save</button>
        </div>
        <div class="panel-body">
            <form>
                <div class="panel-body" ng-repeat="designation in designations">
                    <div class="form-group col-md-4">
                        <label>Designation Type: </label>
                        <select ng-model="designation.Designation_Type">
                            <option value>Select A Designation</option>
                            <option ng-repeat="type in designationTypes" ng-value="type.Designation_Type">
                                {{type.Designation_Type}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Notes for Designation</label>
                        <textarea class="form-control" row="5" cols="80" ng-model="designation.Notes"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger btn-sm" ng-click="removeDesignation($index)">Remove</button>
                    </div>
                </div>
            </form>
            <button class="btn btn-default" ng-click="AddDesignation()">Add Designation</button>
        </div>
    </article>
    <article class="col-xs-12 panel panel-default">
        <div class="panel-heading clearfix">
            Referral Info
            <button class="btn btn-success btn-xs pull-right" ng-click="addReferralInfo()">Save</button>
        </div>
        <div class="panel-body">
            <form>
                <div class="panel-body" ng-repeat="referral in referrals">
                    <div class="form-group col-md-6">
                        <label>Choose Referral Type: </label>
                        <select ng-model="referral.Referral_Type">
                            <option ng-repeat="referralType in referral_types" ng-value="referralType.Referral_Type">
                                {{referralType.Referral_Type}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Choose a Referrer</label>
                        <select class="form-group" ng-model="referral.Referrer_Entity_ID">
                            <option ng-repeat="individual in individualOptions" ng-value="individual.Entity_ID">
                                {{individual.First_Name}} {{individual.Last_Name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Referral Notes</label>
                        <textarea class="form-control" row="5" cols="80" ng-model="referral.Notes"></textarea>
                    </div>
                </div>
            </form>
            <button class="btn btn-default" ng-click="AddReferral()">Add Referral</button>
        </div>
    </article>
    <toaster-container></toaster-container>
</section>
