#clients-workspace {
  & article.row {
    padding: 1rem 5rem;
    a.thumbnail.new-client {
      border: 2px rgba(0, 0, 0, 0.20) dashed;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      color:@dark-text-color;
      i{
        color: #6CC24A;
      }
      & div {
        margin: 1rem;
      }
    }
  }
}

.truncate {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.company-info{
  address,div {
    &.company {
      padding: 0;
    }

    }

  p{
    margin:0;
    font-style:italic;
    color:fade(@sidebar-background,50%);
    > label{
      margin:0;
    }
  }
  h3.title{
    margin-top:0;
  }
}

.company-details{
  margin-bottom:1rem;
}

form{
  > .zip{
    padding-right: 0;
  }
  > .state{
    padding-left: 0;
  }
}

.add-company-individual{
  margin-top: 2.3rem;
}

.card-delete{
  margin-right:0.5rem;
}
.img-circle {
  border-radius: 50%;
}

