<div ng-controller="ClientsCtrl">
<header class="row">
    <h3>
        <i class="fa fa-navicon"></i>{{navTitle}}
    </h3>
</header>
<section id="clients-workspace" class="container" ng-controller="ClientsCtrl">

    <article class="row text-center">
        <div class="col-xs-12 col-md-2">
            <a href="#!{{currentLocation}}/add" class="thumbnail new-client">
                <div><i class="fa fa-plus-circle fa-2x"></i></div>
                Add New Client
            </a>
            <p>{{scope.navTitle}}</p>
        </div>
        <div class="col-xs-12 col-md-2 fade" ng-repeat="client in clients" ng-click="routeClient(client)">
            <a class="thumbnail">
                 <span ng-if="client.Honorific === 'Mr.' || client.Honorific === 'Dr.'">
                <img ng-src="https://randomuser.me/api/portraits/men/{{$index}}.jpg" width="100px" height="100px"/>
                </span>
                <span ng-if="client.Honorific === 'Ms.' || client.Honorific === 'Mrs.' || client.Honorific === 'Mx.' || client.Honorific == 'Miss'">
                <img ng-src="https://randomuser.me/api/portraits/women/{{$index}}.jpg" width="100px" height="100px"/>
                </span>
                <span ng-if="client.Name">
                        <img src="{{client.Image}}" width="100px" height="auto"/>
                </span>
                <p class="truncate">{{client.Name}}</p>
                <p class="truncate" ng-if="client.Last_Name">{{client.Honorific}} {{client.First_Name}} {{client.Middle_Initial}}.
                    {{client.Last_Name}}</p>
            </a>
        </div>

        </article>
    </section>

</div>