<div ng-controller="SnapshotCtrl">
    <header class="row">
        <h3>
            <i class="fa fa-navicon"></i>Company Snapshot
            <a class="btn btn-success" ng-href="#!/companies/{{company.Company_ID}}/edit">Edit</a>
        </h3>
    </header>
    <section class="container-fluid row">
        <article ng-show="company"
                 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default fade company-info">
            <div class="panel-heading">Company info</div>
            <div class="panel-body">
                <div class="row">
                    <div class="company-logo thumbnail col-xs-2 col-md-2 col-lg-2">
                        <img src="{{company.Image}}"/>
                    </div>
                    <div class="col-xs-12 col-md-10 col-lg-10 row">
                        <h3 class="title">{{company.Company_Name}}</h3>
                        <address class="company col-md-6">
                            <p>{{company.Address_1}}</p>
                            <p ng-if="company.Address_2">{{company.Address_2}}</p>
                            <p>{{company.City}}, {{company.State}} {{company.Postal_Code}}</p>
                        </address>
                        <div class="contact col-md-6">
                            <div class="individual-img">
                                <div><span>{{ company.contactAcronym }}</span> <a
                                        ng-href="#!/individuals/{{company.Contact_ID}}">{{company.Contact_Name}}</a>
                                </div>

                                <p><label>Email: </label> {{company.Contact_Email}}</p>
                                <p><label>Phone: </label>{{company.Contact_Phone}}</p>
                                <p><label>Role: </label> {{company.Contact_Role}}</p>

                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="{{company.Website_URL}}">Company Website</a>
                    </div>
                </div>
            </div>
        </article>
        <article  ng-show="company" class="col-xs-12 panel panel-default fade">
            <div class="panel-heading">Employees</div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li ng-repeat="employee in employees">
                        <span><img class="img-circle" ng-src="{{employee.Individual[0].Image}}" height="50" width="50"></span>
                        <span>
                            <div style="display:inline-block">
                                <a ng-href="#!/individuals/{{employee.Individual_ID}}">{{employee.Individual[0].Honorific}} {{employee.Individual[0].First_Name}} {{employee.Individual[0].Last_Name}}</a>
                                <p>{{employee.Role}}</p>
                            </div>
                        </span>
                    </li>
                </ul>

            </div>
        </article>
        <article ng-show="company" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default fade">
            <div class="panel-heading">Other Company Details</div>
            <div class="panel-body">
                <dl class="row">
                    <div class="col-md-4 company-details">
                        <dd>Date Formed</dd>
                        <dt>{{company.Date_Formed}}</dt>
                    </div>
                    <div class="col-md-4 company-details">
                        <dd>Legal Entity</dd>
                        <dt>{{company.Legal_Entity}}</dt>
                    </div>
                    <div class="col-md-4 company-details">
                        <dd>Member Type</dd>
                        <dt>{{company.Member_Type}}</dt>
                    </div>
                    <div class="col-md-4 company-details">
                        <dd>Membership Date</dd>
                        <dt>{{company.MemberShip_Date}}</dt>
                    </div>
                    <div ng-show="Graduate_Date" class="col-md-4 company-details">
                        <dd ng-show="Graduate_Date">Graduation Date</dd>
                        <dt ng-show="Graduate_Date">{{company.Graduate_Date}}</dt>
                    </div>
                    <div class="col-md-4 company-details">
                        <dd>NAICS</dd>
                        <dt>{{company.NAICS_Code}}</dt>
                    </div>
                </dl>
            </div>
        </article>
        <article ng-show="designations.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default fade">
            <div class="panel-heading">Company Designation Details</div>
            <div class="panel-body">
                <table class="table table-condensed ">

                    <tr>
                        <th>Designation Type</th>
                        <th>Notes</th>
                    </tr>


                    <tr ng-repeat="designation in designations">
                        <td>{{designation.Designation_Type}}</td>
                        <td>{{designation.Notes}}</td>
                    </tr>

                </table>
            </div>
        </article>
        <article ng-show="referrals.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default fade">
            <div class="panel-heading">Company Referral Details</div>
            <div class="panel-body">
                <table class="table table-condensed ">

                    <tr>
                        <th>Referral Type</th>
                        <th>Referrer Details</th>
                        <th>Notes</th>
                    </tr>


                    <tr ng-repeat="referral in referrals">
                        <td>{{referral.Referral_Type}}</td>
                        <td>{{referral.Entity[0].Company[0].Name || referral.Entity[0].Individual[0].Honorific + ' ' +
                            referral.Entity[0].Individual[0].First_Name + ' ' +
                            referral.Entity[0].Individual[0].Last_Name }}
                        </td>
                        <td>{{referral.Notes}}</td>
                    </tr>

                </table>
            </div>
        </article>
        <article ng-show="reportSurveys" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default fade">
            <div class="panel-heading clearfix">Report Surveys
                <a href="#!/upload" class="btn btn-primary btn-xs pull-right">Upload Survey</a>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Year</th>
                        <th>Status</th>
                        <th>Full-time</th>
                        <th>Part-time</th>
                        <th>Monthly Salaries</th>
                        <th>Gross Revenue</th>
                        <th>Debt Capital</th>
                        <th>Equity Capital</th>
                        <th>Grant Funds</th>
                        <th>Restructuring</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="survey in reportSurveys">
                        <td>{{survey.Year}}</td>
                        <td>{{survey.Client_Status}}</td>
                        <td>{{survey.Full_Time}}</td>
                        <td>{{survey.Part_Time}}</td>
                        <td>{{survey.Monthly_Wages | currency}}</td>
                        <td>{{survey.Gross_Revenue | currency}}</td>
                        <td>{{survey.Debt_Capital | currency}}</td>
                        <td>{{survey.Equity_Capital | currency}}</td>
                        <td>{{survey.Grant_Funds | currency}}</td>
                        <td>{{survey.Restructuring || 'No'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

    </section>
</div>