<div ng-controller="IndividualCtrl">
<header class="row">
    <h3>
        <i class="fa fa-navicon"></i>Profile
        <a class="btn btn-success btn-xs" ng-href="#!/individuals/{{individual.Individual_ID}}/edit">Edit</a>
    </h3>
</header>
<section class="container-fluid row">
    <article ng-show="addresses && individual && phones"
             class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default fade company-info">
        <div class="panel-heading">Basic Profile Info
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="company-logo col-xs-2 col-md-2 col-lg-2">
                    <img src="{{individual.Image}}"/>
                </div>
                <div class="col-xs-12 col-md-10 col-lg-10 row">
                    <h3 class="title">{{individual.Honorific}} {{individual.First_Name}} {{individual.Last_Name}}</h3>
                    <address class="company col-md-6" ng-repeat="address in addresses">
                        <p>{{address.Address_1}}</p>
                        <p ng-if="address.Address_2">{{address.Address_2}}</p>
                        <p>{{address.City}}, {{address.State}} {{address.Postal_Code}}</p>
                    </address>
                    <div class="contact col-md-6">
                        <div class="company-info" ng-repeat="phone in phones">
                            <p><label>Phone: </label> {{phone.Number}} | {{phone.Phone_Type}}</p>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-md-10 col-lg-10 row" ng-show="demographics.length > 0">
                    <h5>Demographic</h5>
                    <ul class="nav nav-pills">
                        <li class="active" ng-repeat="demographic in demographics"><div class="label label-default">{{demographic.Demographic_Type}}</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
    <article ng-show="employeeInfo.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default fade">
        <div class="panel-heading">Employer Info</div>
        <div class="panel-body">
            <div ng-repeat="employee in employeeInfo" class="media">
                <div class="media-left">
                    <a ng-href="#!/companies/{{employee.Company_ID}}">
                        <img class="media-object" src="https://placehold.it/64x64" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{employee.Company_Name}}</h4>
                    {{employee.Role}}
                </div>
            </div>
        </div>
    </article>
</section>
</div>