#reports-workspace {
  & article.row {
    padding: 0 5rem;
    a.thumbnail.new-client {
      border: 2px rgba(0, 0, 0, 0.20) dashed;
      & div {
        margin: 2rem;
      }
    }
  }
}

.reports{
  div {
    &.reports {
      padding: 0;
    }
  }
  p{
    margin:0;
    font-style:italic;
    color:fade(@sidebar-background,50%);
    > label{
      margin:0;
    }
  }
  h3.title{
    margin-top:0;
  }
}

.reports-details{
  margin-bottom:1rem;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; 
}