<div ng-controller="ReportsCtrl">
    <header class="row">
        <h3>
            <i class="fa fa-navicon"></i>Reports
        </h3>
    </header>
    <header class="sub-header row">
        <form class="form-inline">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientSelector.isClients" ng-change="reloadChartData()" ng-true-value="1" ng-false-value="0"/> Clients
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="clientSelector.isGraduates" ng-change="reloadChartData()" ng-true-value="1" ng-false-value="0" name="Graduates"/> Graduates
                </label>
            </div>
            <div class="form-group">
                <label>Start Year:</label>
                <input class="form-control" ng-model="clientSelector.startYear" ng-change="reloadChartData()"  type="number" onkeydown="return false"/>
            </div>
            <div class="form-group">
                <label>End Year:</label>
                <input class="form-control" ng-model="clientSelector.endYear" ng-change="reloadChartData()" type="number" onkeydown="return false"/>
            </div>
        </form>

    </header>
    <section class="container-fluid row">
        <article ng-show="chartData" class="col-xs-12 panel panel-default fade" ng-repeat="(chartType, chartValues) in chartData">
            <div class="panel-heading">
               {{chartType}}
            </div>
            <div class="panel-body">
                <div>
                    <nvd3 options='options' data='chartValues'></nvd3>
                </div>
            </div>
        </article>
    </section>
</div>


