
.app {
  & header {
    background: white;
    box-shadow: 0 1px 1px #bfbfbf;
    & h3 {
      margin-top: 14px;
      color:@sidebar-background;
      text-decoration: underline;
      text-decoration-color: #f2b632;
      text-decoration-skip: initial;
      i{
        padding: 0 1.5rem;
      }
    }
    &.sub-header{
      border-top:1px solid @sidebar-text-color;
      padding:1rem;
    }

  }
}

section{
  min-height: 100vh;
}

div.sidebar {
  //border-right: 1px solid rgba(0,0,0,0.1);
  //box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
  background: @sidebar-background;
  color: @sidebar-text-color;

}

.row {
  margin: 0;
}

.window-content {
  background: @main-background;
}

.main-content {
  margin-left: 14rem;
  background: @main-content-bg;
}

#nav {
  background: #FFF;
  padding: 0.5rem;
  height: 4rem;
  border-bottom: 1px solid @border-line-color;
}

nav {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.pane {
  border: 0;
}

.container {
  max-width: 960px;
}

.panel {
  margin: 1.5rem 0;
}

ul.nav.navbar-nav {
  width: 138px;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: @sidebar-background;

  .navbar-nav {
    > li {
      float: none; /* Cancel default li float: left */
    }
  }
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.navbar-header {
  background: #f2b632;
  width: 139px;
  a {
    color: white;
    text-align: center;
  }

}

.navbar-nav {
  > li {
    border: 1px solid rgba(34, 34, 34, 0.2);
    border-right: none;
    border-left: none;
    box-shadow: inset 0 4px 4px -6px #e6e6e6;
  }
}

.navbar-nav {
  > li > a {
    color: darken(@sidebar-text-color, 20%);
    &:hover {
      background: lighten(@sidebar-background, 4%);
      color: @sidebar-text-color;
    }

    &:focus {
      background: darken(@sidebar-background, 10%);
      color: @sidebar-text-color;
    }
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: @sidebar-text-color;
      background-color: darken(@sidebar-background, 5%);;
    }
  }
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.panel-default{
  > .panel-heading{
    background-color:white;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 600;
    color: fade(@sidebar-background,50%);
  }
}

.fade{
  opacity: 1;
}
.fade.ng-hide,
.fade.ng-leave.ng-leave-active,
.fade.ng-move,
.fade.ng-enter{
  opacity: 0;
}

.fade.ng-enter-stagger{
  transition-delay: 0.1s ;
  -webkit-transition-delay: 0.1s ;
  /*
      FROM THE DOCUMENTATION:
      In case the stagger doesn't work then these two values must be set
      to 0 to avoid an accidental CSS inheritance.
  */
  transition-duration: 0s ;
  -webkit-transition-duration: 0s ;
}

.fade.ng-hide-add,
.fade.ng-hide-remove,
.fade.ng-move,
.fade.ng-enter,
.fade.ng-leave{
  transition: all linear 0.5s;
}
.close, .close:hover{
  color:@sidebar-background;
}

.ui-select-choices{
  list-style: none;
  padding: 0;
}
.form-inline{
  margin:0 0 1.5rem 0;
}
