@sidebar-background:#252839;
@main-background:#CECECE;
@border-line-color:#768091;
@sidebar-text-color:#c6c9ce;
@main-content-bg:#ECEFF1;
@dark-text-color:#677077;
@light-text-color:#b5b5b7;
@light-blue:#41B6E6;
@light-purple:#615E9B;

// #252839 background colour
// #677077 dark text color
// #b5b5b7 light text color
// #f2b632 variant color