<div>
    <header class="row">
        <h3>
            <i class="fa fa-navicon"></i>Survey Upload
        </h3>
    </header>
    <section class="container-fluid row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default fade">
            <div class="panel-heading clearfix">Upload Survey</div>
            <div class="panel-body">
                <form class="form-inline" method="POST" enctype="multipart/form-data" action="app/clients/UploadReportCSV.php" id="SurveyForm">
                    <div class="form-group">
                        <label class="" for="file"></label>
                        <input type="file" class="form-control" name="FileInput" id="FileInput">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="company_id" value="{{company.Company_ID}}" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-primary btn-xs" id="submit-btn">
                    </div>
                    <div class="form-group">
                        <div id="progressbox" ><div id="progressbar"></div ><div id="statustxt"></div></div>
                        <div id="output"></div>
                    </div>

                </form>
            </div>
        </article>
    </section>
</div>
<script>

    $(document).ready(function() {

        var options = {
            target:   '#output',
            beforeSubmit:  beforeSubmit,
            success:       afterSuccess,
            uploadProgress: OnProgress,
            resetForm: true
        };

        $('#SurveyForm').submit(function() {
            $(this).ajaxSubmit(options);
            return false;
        });

        function afterSuccess()
        {
            $('#submit-btn').show();
            $('#progressbox').delay( 1000 ).fadeOut();

        }

        function beforeSubmit(){

            if (window.File && window.FileReader && window.FileList && window.Blob)
            {

                if( !$('#FileInput').val())
                {
                    $("#output").html("No File Selected");
                    return false
                }

                var fsize = $('#FileInput')[0].files[0].size;
                var ftype = $('#FileInput')[0].files[0].type;


                //allow file types
                switch(ftype)
                {
                    case 'text/csv':
                    case 'text/plain':
                    case 'application/csv':
                    case 'text/comma-separated-values':
                    case 'text/excel':
                    case 'application/vnd.ms-excel':
                    case 'application/vnd.msexcel':
                    case 'text/anytext':
                    case 'application/octet-stream':
                    case 'application/txt':
                        break;
                    default:
                        $("#output").html("<b> Unsupported file type!");
                        return false
                }

                $('#submit-btn').hide();
                $("#output").html("");
            }
            else
            {
                $("#output").html("Browser doesn't support file upload. Upgrade your browser.");
                return false;
            }
        }

        function OnProgress(event, position, total, percentComplete)
        {
            $('#progressbox').show();
            $('#progressbar').width(percentComplete + '%')
            $('#statustxt').html(percentComplete + '%');
            if(percentComplete>50)
            {
                $('#statustxt').css('color','#000');
            }
        }
    });

</script>

