<header class="row">
    <h3>
        <i class="fa fa-navicon"></i>
        Events
    </h3>
</header>
<section class="container-fluid row" ng-controller="EventsCtrl">
    <article ng-show="events.length > 0" class="col-xs-12 panel fade panel-default">
        <div class="panel-heading">
            All Events
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Logo</th>
                    <th>Company Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Event Type</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="evt in events">
                    <td><img src="{{evt.Image}}" height="50" width="50" ></td>
                    <td>{{evt.Name}}</td>
                    <td>{{evt.Start_Date | date:'MM/dd/yyyy @ h:mma'}}</td>
                    <td>{{evt.End_Date | date:'MM/dd/yyyy @ h:mma'}}</td>
                    <td>{{evt.Event_Type}}</td>
                    <td>{{evt.Notes}}</td>
                </tr>
                </tbody>

            </table>
        </div>
    </article>
</section>