
.border{
  border:1px solid lighten(#ccc, 1%);
}
.metric-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.metric{

  border-right:none;
  > div{
    display: inline-block;
    padding: 0 0.5rem;
  i{
    color:@light-blue;
  }
  }
  &:last-child{

  }
  .count{
    font-size:3rem;
    font-weight:400;
    text-align: center;
    color:fade(@sidebar-background, 90%);
    display: inline-block;
  }
  .metric-name{
   text-align:center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: x-small;
    color: fade(@sidebar-background, 50%);
  }
}