<header class="row">
    <h3>
    <i class="fa fa-navicon"></i>Dashboard
    </h3>
</header>
<section class="container-fluid row" ng-controller="DashboardCtrl">
    <article ng-show="!countMetrics.length > 0" class="col-xs-12 panel panel-default fade">
        <div class="panel-heading">iLab Metrics</div>
        <div class="panel-body metric-row">
            <div class="metric col-xs-2 text-center" ng-repeat="(metricName, metricValue) in countMetrics">
                <div ng-switch on="metricName" class="text-center">
                    <div ng-switch-when="Total Graduates">
                        <i class="fa fa-graduation-cap fa-2x"></i>
                    </div>
                    <div ng-switch-when="Current Clients">
                        <i class="fa fa-user-circle-o fa-2x"></i>
                    </div>
                    <div ng-switch-when="Total Mergers">
                        <i class="fa fa-compress fa-2x"></i>
                    </div>
                    <div ng-switch-when="Current Full Time">
                        <i class="fa fa-hourglass fa-2x"></i>
                    </div>
                    <div ng-switch-when="Current Part Time">
                        <i class="fa fa-hourglass-end fa-2x"></i>
                    </div>
                </div>
                <div class="count">{{metricValue}}</div>
                <div class="metric-name">{{metricName}}</div>
            </div>
        </div>

    </article>
    <div ng-show="!countMetrics.length > 0 && data" class="col-xs-12 panel panel-default fade">
        <div class="panel-heading">
            Total Gross Revenue
        </div>
        <div class="panel-body">
            <div>
                <nvd3 options='options' data='data'></nvd3>
            </div>
        </div>
    </div>
</section>
