<nav class="navbar navbar-fixed-left" ng-controller="NavCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">iLab</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':routeMatches('dashboard')}"><a href="#!/dashboard">Dashboard<span class="sr-only">(current)</span></a></li>
                <li ng-class="{'active':routeMatches('reports')}"><a href="#!/reports">Reports</a></li>
                <li ng-class="{'active':routeMatches('companies')}"><a href="#!/companies">Companies</a></li>
                <li ng-class="{'active':routeMatches('individuals')}"><a href="#!/individuals">Individuals</a></li>
                <li ng-class="{'active':routeMatches('events')}"><a href="#!/events">Events</a></li>
                <li ng-class="{'active':routeMatches('upload')}"><a href="#!/upload">Survey Upload</a></li>
            </ul>
        </div>
    </div>
</nav>
